* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-color: #904bda;
  display: flex;
  justify-content: center;
  align-items: center;
}
body #singIn {
  position: relative;
  width: 20rem;
  background-color: rgb(255, 118, 255);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 4px #ef91e9, 0 0 15px #ef91e9;
}
body #singIn h3 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}
body #singIn div {
  margin: 1rem;
}
body #singIn div input {
  width: 80%;
  height: 1.5rem;
  margin-top: 0.3rem;
  border-style: none;
  border-radius: 0.2rem;
  box-shadow: 0 1px 20px rgb(185, 185, 185);
}
body #singIn .bntLogin {
  width: 6rem;
  height: 2rem;
  margin: 3rem 6rem 0px;
  border-radius: 1rem;
  border-style: none;
  font-size: 1rem;
  box-shadow: 0px 4px 20px #a1a1a1;
  text-align: center;
  margin-right: 0;
  text-align: center;
}
body #singIn .bntLogin:hover {
  background-color: aliceblue;
  font-size: 1.1rem;
}
body #singIn p {
  margin-top: 2rem;
}

#myMove1 {
  position: -webkit-sticky;
  position: sticky;
  margin-top: 0;
  width: 100px;
  height: 100px;
  -webkit-animation-name: menagerie;
          animation-name: menagerie;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  position: absolute;
  background-color: #1e1d19;
  opacity: 0.3;
  box-shadow: 0 0 4px #F2E205, 0 0 15px #F2E205, 0 0 20px #F2E205, 0 0 30px #F2E205, 0 0 50px #F2E205, 0 0 70px #F2E205, 0 0 80px #F2E205;
}

#myMove2 {
  position: -webkit-sticky;
  position: sticky;
  width: 100px;
  height: 100px;
  -webkit-animation-name: menagerie2;
          animation-name: menagerie2;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  position: absolute;
  background-color: #1e1d19;
  opacity: 0.3;
  box-shadow: 0 0 4px #F2E205, 0 0 15px #F2E205, 0 0 20px #F2E205, 0 0 30px #F2E205, 0 0 50px #F2E205, 0 0 70px #F2E205, 0 0 80px #F2E205;
}

@-webkit-keyframes menagerie {
  0% {
    opacity: 0;
    background: #fff;
    left: 0;
  }
  25% {
    opacity: 1;
    background: #000;
  }
  50% {
    transform: rotate(0.5turn);
    left: 80%;
    background: #ff0;
  }
  75% {
    opacity: 1;
    background: #000;
  }
  100% {
    opacity: 0;
    background: #fff;
    left: 0;
    transform: rotate(0);
  }
}

@keyframes menagerie {
  0% {
    opacity: 0;
    background: #fff;
    left: 0;
  }
  25% {
    opacity: 1;
    background: #000;
  }
  50% {
    transform: rotate(0.5turn);
    left: 80%;
    background: #ff0;
  }
  75% {
    opacity: 1;
    background: #000;
  }
  100% {
    opacity: 0;
    background: #fff;
    left: 0;
    transform: rotate(0);
  }
}
@-webkit-keyframes menagerie2 {
  0% {
    opacity: 0;
    background: #fff;
    left: 0;
  }
  50% {
    opacity: 1;
    background: #000;
  }
  100% {
    transform: rotate(0.5turn);
    left: 80%;
    background: #ff0;
  }
}
@keyframes menagerie2 {
  0% {
    opacity: 0;
    background: #fff;
    left: 0;
  }
  50% {
    opacity: 1;
    background: #000;
  }
  100% {
    transform: rotate(0.5turn);
    left: 80%;
    background: #ff0;
  }
}/*# sourceMappingURL=login.css.map */