* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #4f3e75;
}

#title {
  color: #F2E205;
  text-align: center;
  margin-top: 0%;
  position: relative;
}

#card-Question {
  border: 3px #E3D8F2 solid;
  width: 60%;
  height: 15rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-top: 5rem;
  background-color: #F2E205;
  position: relative;
  box-shadow: 0 0 4px #ef91e9, 0 0 15px #ef91e9, 0 0 20px #ef91e9, 0 0 30px #ef91e9;
}
#card-Question #text {
  margin: auto;
  text-align: center;
  padding: 0 1rem;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: #4f3e75;
}
#card-Question #circle {
  width: 5rem;
  height: 5rem;
  border: 3px solid #E3D8F2;
  border-radius: 50%;
  position: absolute;
  margin-top: -3rem;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(8, 7, 7, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
  transform: rotate(50deg);
}
#card-Question #circle:hover {
  transform: scale(1.2);
}
#card-Question .timer {
  text-align: center;
  font-size: 3rem;
  color: #F299EC;
}

#TowImage {
  display: flex;
  justify-content: space-between;
}

.imgQuestion {
  width: 80px;
  margin: 1rem;
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.cards a {
  text-decoration: none;
}

.card {
  width: 400px;
  height: 50px;
  border-radius: 12px;
  background-color: #F299EC;
  margin-bottom: 2rem;
  border: 2px #833ce6 solid;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.card:hover {
  background-color: #ef91e9;
  box-shadow: 0px 2px 8px rgb(145, 145, 145);
  font-size: larger;
}

#myMove1 {
  position: -webkit-sticky;
  position: sticky;
  width: 100px;
  height: 100px;
  -webkit-animation-name: menagerie;
          animation-name: menagerie;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  position: absolute;
  background-color: #1e1d19;
  opacity: 0.3;
  box-shadow: 0 0 4px #F2E205, 0 0 15px #F2E205, 0 0 20px #F2E205, 0 0 30px #F2E205, 0 0 50px #F2E205, 0 0 70px #F2E205, 0 0 80px #F2E205;
}

#myMove2 {
  position: -webkit-sticky;
  position: sticky;
  width: 100px;
  height: 100px;
  -webkit-animation-name: menagerie2;
          animation-name: menagerie2;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  position: absolute;
  background-color: #1e1d19;
  opacity: 0.3;
  box-shadow: 0 0 4px #F2E205, 0 0 15px #F2E205, 0 0 20px #F2E205, 0 0 30px #F2E205, 0 0 50px #F2E205, 0 0 70px #F2E205, 0 0 80px #F2E205;
}

@-webkit-keyframes menagerie {
  0% {
    opacity: 0;
    background: #fff;
    left: 0;
  }
  25% {
    opacity: 1;
    background: #000;
  }
  50% {
    transform: rotate(0.5turn);
    left: 80%;
    background: #ff0;
  }
  75% {
    opacity: 1;
    background: #000;
  }
  100% {
    opacity: 0;
    background: #fff;
    left: 0;
    transform: rotate(0);
  }
}

@keyframes menagerie {
  0% {
    opacity: 0;
    background: #fff;
    left: 0;
  }
  25% {
    opacity: 1;
    background: #000;
  }
  50% {
    transform: rotate(0.5turn);
    left: 80%;
    background: #ff0;
  }
  75% {
    opacity: 1;
    background: #000;
  }
  100% {
    opacity: 0;
    background: #fff;
    left: 0;
    transform: rotate(0);
  }
}
@-webkit-keyframes menagerie2 {
  0% {
    opacity: 0;
    background: #fff;
    left: 0;
  }
  50% {
    opacity: 1;
    background: #000;
  }
  100% {
    transform: rotate(0.5turn);
    left: 80%;
    background: #ff0;
  }
}
@keyframes menagerie2 {
  0% {
    opacity: 0;
    background: #fff;
    left: 0;
  }
  50% {
    opacity: 1;
    background: #000;
  }
  100% {
    transform: rotate(0.5turn);
    left: 80%;
    background: #ff0;
  }
}
#checking {
  text-align: center;
}

#bodyHome {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#imgsHome {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#imgsHome img {
  position: absolute;
  top: 0;
  pointer-events: none;
}
#imgsHome #imgStars {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  -webkit-animation-name: imgStars;
          animation-name: imgStars;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}
@-webkit-keyframes imgStars {
  0% {
    left: 20%;
    top: 1000px;
  }
  100% {
    left: 20%;
    top: 0;
  }
}
@keyframes imgStars {
  0% {
    left: 20%;
    top: 1000px;
  }
  100% {
    left: 20%;
    top: 0;
  }
}
#imgsHome #moom {
  width: 20%;
  mix-blend-mode: screen;
  top: 0;
  -webkit-animation-name: moom;
          animation-name: moom;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  align-self: center;
}
@-webkit-keyframes moom {
  0% {
    left: 50%;
    top: 1000px;
  }
  100% {
    left: 40%;
    top: 0;
  }
}
@keyframes moom {
  0% {
    left: 50%;
    top: 1000px;
  }
  100% {
    left: 40%;
    top: 0;
  }
}
#imgsHome #mountains_behind {
  width: 60%;
  bottom: 0;
  top: initial;
}
#imgsHome #mountains_front {
  bottom: 0;
  top: initial;
  z-index: 1000;
  width: 100%;
  -webkit-animation-name: mountains_front;
          animation-name: mountains_front;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}
@-webkit-keyframes mountains_front {
  0% {
    left: 2000px;
    top: initial;
  }
  100% {
    left: 0;
    top: initial;
  }
}
@keyframes mountains_front {
  0% {
    left: 2000px;
    top: initial;
  }
  100% {
    left: 0;
    top: initial;
  }
}
#imgsHome #play {
  position: -webkit-sticky;
  position: sticky;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 2rem;
  background-color: rgb(228, 228, 228);
  width: 8rem;
  height: 3rem;
  border-radius: 12rem;
  padding-top: 1rem;
  text-decoration: none;
}
#imgsHome #play:hover {
  font-size: 2.2rem;
  width: 8.2rem;
  height: 3.2rem;
  box-shadow: 0px 2px 8px rgb(228, 228, 228), 0px 3px 10px rgb(228, 228, 228), 0px 4px 20px rgb(228, 228, 228), 0px 10px 30px rgb(228, 228, 228);
}

.stepper-component {
  display: flex;
  justify-content: center;
  margin-top: 50px auto;
  width: 100%;
}
.stepper-component li {
  list-style: none;
  display: flex;
  margin-left: 12rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.stepper-component li > i {
  margin: 0 85px;
  font-size: 25px;
}
.stepper-component li .text {
  font-size: 13px;
  font-weight: 600;
}
.stepper-component li .progress {
  margin: 3rem 0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #202731;
  display: grid;
  place-items: center;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.stepper-component li .progress .checkMark {
  font-size: 2rem;
  display: none;
  z-index: 10;
}
.stepper-component li .progress p {
  font-size: 2rem;
  z-index: 10;
  display: block;
}
.stepper-component li .progress::after {
  content: "";
  position: absolute;
  width: 16rem;
  height: 5px;
  background-color: #202731;
  right: 30px;
}
.stepper-component li .progress.one::after {
  width: 0;
  height: 0;
}
.stepper-component li .active {
  z-index: 10;
  background-color: rgb(255, 118, 255);
  box-shadow: 0 0 4px #ef91e9, 0 0 15px #ef91e9, 0 0 20px #ef91e9;
}
.stepper-component li .active::after {
  background-color: rgb(255, 118, 255);
}
.stepper-component li .active p {
  display: none;
}
.stepper-component li .active .checkMark {
  display: flex;
}

.info {
  width: 50%;
  text-align: center;
  margin: 3rem auto;
  background-color: #F2E205;
  border-radius: 2rem;
  box-shadow: 0 0 4px #ef91e9, 0 0 15px #ef91e9, 0 0 20px #ef91e9, 0 0 30px #ef91e9;
}
.info h1 {
  font-size: 2rem;
}
.info p {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  margin: 1rem;
}
.info button {
  width: 8rem;
  height: 3rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  font-size: 1.5rem;
  background-color: #4f3e75;
  color: #fff;
  border-style: none;
}
.info button:hover {
  width: 8.2rem;
  height: 3.2rem;
  font-size: 1.6rem;
}

.result {
  background-color: #F2E205;
  width: 40%;
  margin: 3rem auto;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 0 4px #ef91e9, 0 0 15px #ef91e9, 0 0 20px #ef91e9, 0 0 30px #ef91e9;
}
.result p {
  margin-top: 12px;
}
.result button {
  font-size: 1rem;
  margin: 12px;
  border-radius: 0.3rem;
  width: 6rem;
  background-color: #4f3e75;
  height: 3rem;
  border-style: none;
  color: #fff;
  box-shadow: 0 5px 5px #232323;
}
.result button:hover {
  font-size: 1.2rem;
}/*# sourceMappingURL=style.css.map */