$bady-color :#4f3e75;
$text-color-yellow :#F2E205;
 
*{
    padding:0;
    margin: 0;
}
body{
    background-color: $bady-color;
    //height: 100vh;
}

#title{
    color: $text-color-yellow;
   text-align: center;
   margin-top: 0%;
   position: relative;
}
#card-Question{
    border: 3px #E3D8F2 solid; 
    width: 60%;
    height: 15rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 5rem;
    background-color: $text-color-yellow;
    position: relative;
  //  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 0 4px #ef91e9,
    0 0 15px #ef91e9,
    0 0 20px #ef91e9,
    0 0 30px #ef91e9;
    
    #text{
       margin: auto;
       text-align: center;
       padding: 0 1rem;
       font-family: 'Times New Roman', Times, serif;
       font-size: large;
       color: $bady-color;
    }
    
    #circle{
        width: 5rem;
        height:5rem;
        border:3px solid #E3D8F2;
        border-radius: 50%;
        position: absolute;
        margin-top: -3rem;
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(8, 7, 7, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
        transform: rotate(50deg);
        &:hover{
            transform: scale(1.2);
        }
    }
    .timer{
        text-align: center;
        font-size: 3rem;
        color: #F299EC;
    }
}


#TowImage{
    display: flex;
    justify-content: space-between;
}

.imgQuestion{
    width: 80px;
    margin: 1rem;
}

.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    a{
        text-decoration: none;
    }
    
}
.card{
    
    width: 400px;
    height: 50px;
    border-radius: 12px;
    background-color: #F299EC;
    margin-bottom: 2rem;
    border: 2px #833ce6 solid;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    //z-index: 1000;
    transition: 0.2s;
    backdrop-filter: blur(15px);
   
    &:hover{
        background-color:#ef91e9;
        box-shadow: 0px 2px 8px rgb(145, 145, 145);
        font-size: larger;
        
    }
}

// #light {
    // width: 100px;
    // height: 100px;
    // border-radius: 50%;
    // position: absolute;
    // transform: translate(var(--light-position-x, 0px), var(--light-position-y, 0px));
    // background-color: #F2E205;
    // opacity: 0.3;
    // box-shadow: 0 0 4px #F2E205,
    // 0 0 15px #F2E205,
    // 0 0 20px #F2E205,
    // 0 0 30px #F2E205,
    // 0 0 50px #F2E205,
    // 0 0 70px #F2E205,
    // 0 0 80px #F2E205;
//   }

#myMove1
{  
      //border: 12px black solid;
      // animation: mymove 5s infinite;
    position:sticky;

    width: 100px;
    height: 100px;
    animation-name: menagerie; 				
    //   border-radius: 50%;
    animation-duration: 2.5s;        			
    animation-iteration-count:infinite;  
    animation-direction:alternate; //let's alternate back and forth!
    position:absolute;	

    background-color: #1e1d19;
    opacity: 0.3;
    box-shadow: 0 0 4px #F2E205,
    0 0 15px #F2E205,
    0 0 20px #F2E205,
    0 0 30px #F2E205,
    0 0 50px #F2E205,
    0 0 70px #F2E205,
    0 0 80px #F2E205;

}
#myMove2
{  
      //border: 12px black solid;
      // animation: mymove 5s infinite;
    position:sticky;

    width: 100px;
    height: 100px;
    animation-name: menagerie2; 				
    //   border-radius: 50%;
    animation-duration: 2.5s;        			
    animation-iteration-count:infinite;  
    animation-direction:alternate; //let's alternate back and forth!
    position:absolute;	

    background-color: #1e1d19;
    opacity: 0.3;
    box-shadow: 0 0 4px #F2E205,
    0 0 15px #F2E205,
    0 0 20px #F2E205,
    0 0 30px #F2E205,
    0 0 50px #F2E205,
    0 0 70px #F2E205,
    0 0 80px #F2E205;

}
@keyframes menagerie {
    0% {opacity: 0; background: #fff; left:0;} // start invisible at left
	25% {opacity: 1; background:#000;} // go black 
	50% {transform:rotate(0.5turn); left:80%; background:#ff0;} //spin, move, yellow
	75% {opacity: 1; background:#000;}	// reverse original motion
	100% {opacity: 0; background:#fff; left:0; transform:rotate(0); }
       
}

@keyframes menagerie2 { 
	0% {opacity: 0; background: #fff; left:0;} 
	50% {opacity: 1; background:#000;} 
	100% {transform:rotate(0.5turn); left:80%; background:#ff0;} 
	}     

    #checking{
        text-align: center;
    }
// .imgQuiz{
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }
#bodyHome{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#imgsHome{
    
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    overflow: hidden;
    img{
        position: absolute;
        top: 0;
        //width: 100%;
        pointer-events: none;
    }
    #imgStars{
        height: 100%;
        object-fit: cover;
        top: 0 ;
        //position: relative;
        animation-name: imgStars;
        animation-duration: 4s;
        animation-delay: -2s;
      @keyframes imgStars {
        0%   { left:20%; top:1000px;}
        100% { left:20%; top:0;}
      }
    }
    #moom{
        width: 20%;
        mix-blend-mode: screen;
        top: 0;
        //position: relative;
        animation-name: moom;
        animation-duration: 4s;
        animation-delay: -2s;
        align-self: center;
      @keyframes moom {
        0%   { left:50%; top:1000px;}
        100% { left:40%; top:0;}
      }

    }
    #mountains_behind{
        width: 60% ;
        bottom: 0;
        top: initial;
    //     position:  initial ;
    //     animation-name: mountains_behind;
    //     animation-duration: 4s;
    //     animation-delay: -2s;
    //   @keyframes mountains_behind {
    //     0%   { left:2000px; top:initial;}
    //     100% { left:0; top:initial;}
    //     }
    }
    #mountains_front{
        bottom: 0;
        top: initial;
        z-index: 1000;
        width: 100%;
        //position: relative;
        animation-name: mountains_front;
        animation-duration: 4s;
        animation-delay: -2s;
      @keyframes mountains_front {
        0%   { left:2000px; top:initial;}
        100% { left:0; top:initial;}
        }
        
    }
    #play{
        position: sticky;
        text-align: center;
        color: rgb(0, 0, 0);
        font-size: 2rem;
        background-color: rgb(228, 228, 228);
        width: 8rem;
        height: 3rem;
        border-radius: 12rem;
        padding-top: 1rem;
        text-decoration: none;
        &:hover{
            //background-color: rgb(113, 113, 113);
            font-size: 2.2rem;
            width: 8.2rem;
            height: 3.2rem;
            box-shadow: 0px 2px 8px rgb(228, 228, 228),
                        0px 3px 10px rgb(228, 228, 228),
                        0px 4px 20px rgb(228, 228, 228),
                        0px 10px 30px rgb(228, 228, 228);
            
        }

    }
}
// #Stars{
//     width: 50%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }





.stepper-component{
    display: flex;
    justify-content: center;
    margin-top: 50px auto;
    width: 100%;
    
    li{
        list-style: none;
        display: flex;
        margin-left: 12rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        >i{
            margin: 0 85px;
            font-size: 25px;
        }
        .text{
            font-size: 13px;
            font-weight: 600;
        }
        .progress{
            margin:3rem 0;
            width: 4rem;
            height: 4rem;
            border-radius:50%;
            background-color: #202731;
            display: grid;
            place-items: center;
            color: #fff;
            position: relative;
            cursor: pointer;
            //display: block;
            .checkMark{
                font-size: 2rem;
                display: none;
                z-index: 10;
            }
            p{
                font-size: 2rem;
                z-index: 10;
                display: block;
            }
            &::after{
                content: "";
                position: absolute;
                width: 16rem;
                height: 5px;
                background-color: #202731;
                right: 30px;
            }
            &.one::after{
                width: 0;
                height: 0;
            }
        }
        .active{
            z-index: 10;
            background-color: rgb(255, 118, 255);
            box-shadow: 0 0 4px #ef91e9,
            0 0 15px #ef91e9,
            0 0 20px #ef91e9;
            
            &::after{
                background-color: rgb(255, 118, 255);
                
            }
            p{
                display: none;
            }
            .checkMark{
                display: flex;
            }
        }
    }
}


.info{
    width: 50%;
    text-align: center;
    margin: 3rem auto ;
    background-color: $text-color-yellow;
    border-radius: 2rem ;
    box-shadow: 0 0 4px #ef91e9,
    0 0 15px #ef91e9,
    0 0 20px #ef91e9,
    0 0 30px #ef91e9;
    h1{
        font-size: 2rem;
    }
    p{
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.5rem;
        margin: 1rem;
    }
    button{
        width: 8rem;
        height: 3rem;
        margin-bottom: 2rem;
        border-radius: 1rem ;
        font-size: 1.5rem;
        background-color:$bady-color;
        color: #fff;
        border-style: none;
        &:hover{
            width: 8.2rem;
            height: 3.2rem;
            font-size: 1.6rem;
        }
    }

}

.result{
    background-color: $text-color-yellow;
    width: 40%;
    margin: 3rem auto ;
    border-radius: 2rem;
    padding: 1rem;
    font-size: 1rem; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 0 0 4px #ef91e9,
    0 0 15px #ef91e9,
    0 0 20px #ef91e9,
    0 0 30px #ef91e9;
    p{
        margin-top: 12px;
    }
    button{
        font-size: 1rem;
        margin: 12px;
        border-radius: 0.3rem;
        width: 6rem;
        background-color: $bady-color;
        height: 3rem;
        border-style: none;
        color: #fff;
        &:hover{
            font-size: 1.2rem;
        }
        box-shadow:0 5px 5px #232323,
                  

    }

}

